

.formControl.error input,
.formControl.error textarea {
    border:  solid red 2px;
}

.formControl.error span {
    color: rgb(136, 80, 7)
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: rgb(136, 80, 7);
}